 
 ///// Fonts

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
 @import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css";
 
 ///// Bootstrap

 
$font-family-base: "Montserrat", system-ui, -apple-system, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$primary: #a4ff7e !default;
$secondary:     grey;
$success:       lighten($primary, 20%) !default;
$info:          cyan !default;
$warning:       orange !default;
$danger:        red !default;
$light:         lightgrey !default;
$dark:          darkgrey !default;

$border-radius: 1rem !default;
$border-radius-sm: .3rem !default;
$border-radius-lg: .4rem !default;


 @import "../node_modules/bootstrap/scss/bootstrap";
 
 ///// Other
 
 body {
   ////background-image: radial-gradient(at 50% 0%, #3c2e4d, #091036);
   background-color: #000000;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   color: #c5c2b8;
   min-height: 100vh;
 }

 